#map {
  display: inline-block;
}

#map .sq-row {
  display: block;
}

#map .sq-row .sq {
  border: 1px dotted gray;
  height: 30px;
  width: 30px;
  margin: 0 -4px 0 0;
  padding: 0;
  vertical-align:middle;
  float: none;
  display: table-cell;
  font-size: 0.7em;
}

#map .sq-row .sq.none {
  font-size: 0em;
  border: 0;
}

#map .sq-row .sq.head {
  font-weight: bold;
  border: solid 1px gray;
  background-color: #D0D0D0;
}

#map .sq-row .sq.start {
  background-color: #66FF33;
}

#map .sq-row .sq.end {
  background-color: #FF3300;
}

#map .sq-row .sq.block {
  background-color: #404040;
}
